In [1]:
import pandas as pd
import numpy as np  
from pandas import DataFrame,Series

In [5]:
df = pd.read_csv('employees.csv')
df

   EmployeeID     Name   Department  Salary    JoinDate
0           1    Alice           HR   70000  2015-06-01
1           2      Bob      Finance   80000  2018-07-15
2           3  Charlie  Engineering  120000  2013-09-23
3           4    David    Marketing   60000  2019-01-11
4           5      Eva           HR   75000  2016-03-30

In [6]:
df_salary_by_dept = df.groupby('Department')['Salary'].mean()
df_salary_by_dept

Department
Engineering    120000.0
Finance         80000.0
HR              72500.0
Marketing       60000.0
Name: Salary, dtype: float64

In [12]:
highest_salary_name = df[df["Salary"] == df['Salary'].max()['Name']
highest_salary_name

2    Charlie
Name: Name, dtype: object

In [21]:
import datetime

df['JoinDate'] = pd.to_datetime(df['JoinDate'])
df['YearsAtCompany'] = datetime.now().year - pd.to_datetime['JoinDate'].dt.year
df

AttributeError: module 'datetime' has no attribute 'now'

In [26]:
df['JoinDate'] = pd.to_datetime(df['JoinDate'])
df['YearsAtCompany'] = datetime.datetime.now().year - pd.to_datetime(df['JoinDate']).dt.year

df

AttributeError: module 'datetime' has no attribute 'now'