<h3>Importing thge neccessary libraries for completing the project<h3>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from scipy.stats import zscore

<h1>Data Loading and Cleaning<h1>

<h3>Data loading and displaying the first few rows. This will help to give an idea of the columns and values that are being dealt with.<h3>

In [4]:
df = pd.read_csv('/workspaces/Practise-Code/Kaggle Project/Data/kc_house_data.csv').sort_values('price', ascending=False)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7252,6762700020,20141013T000000,7700000.0,6,8.00,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
9254,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,0,4,...,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
4411,2470100110,20140804T000000,5570000.0,5,5.75,9200,35069,2.0,0,0,...,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345
1448,8907500070,20150413T000000,5350000.0,5,5.00,8000,23985,2.0,0,4,...,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750

<h3>Using '.info()' to give us an idea of missing values and the data types used.<h3>

In this instance, the data is not missing values and most columns are using numeric data types allowing for easier analysis (catagorical values such as 'view' or 'seafront' have been converted to numerical already). Date however could benefit from being converted to 'datetime' which will allow for more control when generating EDA (Exploritory Data Analysis).

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 7252 to 1149
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.6+ MB

<h3>Below demonstrates the conversion of the 'date' column to 'datetime' and how the type of data for 'date' changes when we call 'info()' again.<h3>

In [6]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 7252 to 1149
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  datetime64[ns]
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(15)
memory usage: 3.6 MB

<h3>Outliers are handled below by creating Z scores for all data and making sure they fall wihtin a threshold of 3 standard deviations.<h3>

<h5> - 99.7% of data should fall within 3 standard deviations. By removing any outliers, a much more consistent EDA will be obtained.<h5>
<h5> - 'waterfront' and 'yr_renovated' are not included in outlier analysis/removal. As only 6 properties are waterfront properties and a small number of properties have been renovated, these properties would be removed if included and could provide valuable insights.<h5>

In [7]:
numeric_cols = [
    'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
     'view', 'condition', 'grade', 'sqft_above', 'sqft_basement',
    'yr_built', 'lat', 'long', 'sqft_living15', 'sqft_lot15'
]

df_zscores = df[numeric_cols].apply(zscore)

print(df_zscores.head())

          price  bedrooms  bathrooms  sqft_living  sqft_lot    floors  \
7252  19.502989  2.826929   7.641730    10.855713  0.301622  1.862472
3914  17.766493  1.751707   3.097133     8.667171  0.536414  0.936506
9254  17.282998  2.826929   7.317116     8.503847  0.392738  0.936506
4411  13.701050  1.751707   4.720203     7.752557  0.481947  0.936506
1448  13.101789  1.751707   3.746361     6.445964  0.214344  0.936506

          view  condition     grade  sqft_above  sqft_basement  yr_built  \
7252  3.609157   0.907554  4.545672    8.189639       7.204574 -2.076931
3914  2.304185  -0.629187  2.844170    7.114853       4.673871 -1.055576
9254  4.914129  -0.629187  4.545672    8.539850       1.668662  1.021181
4411 -0.305759  -0.629187  4.545672    5.327568       6.119987  1.021181
1448  4.914129  -0.629187  3.694921    5.955533       2.233551  1.293542

           lat      long  sqft_living15  sqft_lot15
7252  0.503372 -0.774745       2.850186   -0.145346
3914  0.649157 -0.000736       2.835595    0.464428
9254  0.508424 -0.185362       3.725619    1.097350
4411  0.496877 -0.135655       2.295745    0.423994
1448  0.455739 -0.043342       3.813162    0.328952

In [8]:
##Threshold of 3 to represent 3 standard deviations.
threshold = 3

# Identify outliers
outliers = (df_zscores > threshold) | (df_zscores < -threshold)

# Any row with any outlier
outliers_any = outliers.any(axis=1)

# Filter out outliers
df_no_outliers = df[~outliers_any]

# Display the cleaned DataFrame
print(df_no_outliers[numeric_cols].apply(zscore))

          price  bedrooms  bathrooms  sqft_living  sqft_lot    floors  \
15924  4.889542 -0.381211   0.662545     1.564563 -0.267760  0.963663
17324  4.859794  1.967587   0.662545     1.537509  0.586251  0.963663
14233  4.842795  0.793188   1.748010     1.388713 -0.543064  0.963663
11843  4.821546  0.793188   1.748010     2.524971 -0.150418  0.963663
16268  4.821546  0.793188   0.300724     0.536520  0.684195  0.963663
...         ...       ...        ...          ...       ...       ...
16714 -1.701910 -1.555610  -1.508385    -1.411351 -0.007851 -0.893598
3767  -1.706159 -1.555610  -1.508385    -1.695416  0.894784 -0.893598
18468 -1.710409 -1.555610  -1.508385    -1.424878 -0.109883 -0.893598
2141  -1.712534 -1.555610  -1.508385    -1.938900  1.086497 -0.893598
8274  -1.714659 -0.381211  -1.508385    -1.478986  0.050689 -0.893598

           view  condition     grade  sqft_above  sqft_basement  yr_built  \
15924  2.209684   0.907301  1.432283    1.212047       0.772764 -0.834725
17324 -0.233922   0.907301  1.432283    1.977054      -0.664566 -0.223321
14233 -0.233922  -0.643853  1.432283    0.645375       1.465763  0.965519
11843 -0.233922  -0.643853  2.409297    3.011229      -0.664566  1.169320
16268 -0.233922   0.907301  1.432283    0.928711      -0.664566  0.218248
...         ...        ...       ...         ...            ...       ...
16714 -0.233922  -0.643853 -2.475772   -1.111307      -0.664566 -0.800758
3767  -0.233922  -0.643853 -1.498758   -1.408810      -0.664566 -0.732824
18468 -0.233922  -0.643853 -2.475772   -1.125474      -0.664566 -1.785797
2141  -0.233922  -2.195006 -2.475772   -1.663812      -0.664566 -0.664890
8274  -0.233922  -0.643853 -1.498758   -1.182141      -0.664566 -0.562990

            lat      long  sqft_living15  sqft_lot15
15924  0.912081 -0.416417       1.212841   -0.161413
17324  0.605803  0.034796       3.072068    0.972923
14233  0.529949 -0.478653       1.799084   -0.474861
11843  0.161412  0.221504       0.894595    0.012614
16268  0.444076 -0.105236       2.435576    1.194977
...         ...       ...            ...         ...
16714 -1.226861 -0.105236      -1.249378   -0.185926
3767  -0.615019 -0.377519      -0.696635    1.059105
18468 -0.632909 -0.369740       0.258103   -0.282644
2141  -0.581385 -0.572007      -0.559286    0.165123
8274  -0.446852 -0.922086      -1.282877    0.240546

[19430 rows x 16 columns]

In [9]:
df_no_outliers['month'] = df_no_outliers['date'].dt.month
df_no_outliers['decade_built'] = (df_no_outliers['yr_built']//10) * 10

/tmp/ipykernel_2292/3486462384.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_outliers['month'] = df_no_outliers['date'].dt.month
/tmp/ipykernel_2292/3486462384.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_outliers['decade_built'] = (df_no_outliers['yr_built']//10) * 10

In [10]:
df_no_outliers.to_csv('/workspaces/Practise-Code/Kaggle Project/Data/df_no_outliers.csv')

df_no_outliers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19430 entries, 15924 to 8274
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             19430 non-null  int64
 1   date           19430 non-null  datetime64[ns]
 2   price          19430 non-null  float64
 3   bedrooms       19430 non-null  int64
 4   bathrooms      19430 non-null  float64
 5   sqft_living    19430 non-null  int64
 6   sqft_lot       19430 non-null  int64
 7   floors         19430 non-null  float64
 8   waterfront     19430 non-null  int64
 9   view           19430 non-null  int64
 10  condition      19430 non-null  int64
 11  grade          19430 non-null  int64
 12  sqft_above     19430 non-null  int64
 13  sqft_basement  19430 non-null  int64
 14  yr_built       19430 non-null  int64
 15  yr_renovated   19430 non-null  int64
 16  zipcode        19430 non-null  int64
 17  lat            19430 non-null  float64
 18  long           19430 non-null  float64
 19  sqft_living15  19430 non-null  int64
 20  sqft_lot15     19430 non-null  int64
 21  month          19430 non-null  int32
 22  decade_built   19430 non-null  int64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(16)
memory usage: 3.5 MB

In [11]:
final_waterfront_distribution = df_no_outliers['waterfront'].value_counts()
print("Final 'waterfront' distribution:\n", final_waterfront_distribution)

final_year_renovated_distribution = df_no_outliers['yr_renovated'].value_counts()
print("Final 'yr_renovated' distribution\n", final_year_renovated_distribution)

Final 'waterfront' distribution:
 waterfront
0    19424
1        6
Name: count, dtype: int64
Final 'yr_renovated' distribution
 yr_renovated
0       18707
2014       86
2013       33
2005       29
2007       28
        ...
1934        1
1948        1
1959        1
1951        1
1954        1
Name: count, Length: 69, dtype: int64

In [12]:
df_no_outliers.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,month,decade_built
15924,7533800170,2014-07-07,1636000.0,3,2.50,3110,6765,2.0,0,1,...,560,1946,0,98115,47.6886,-122.276,2630,7626,7,1940
17324,9809000010,2015-01-06,1629000.0,5,2.50,3090,16583,2.0,0,0,...,0,1964,0,98004,47.6458,-122.218,3740,17853,1,1960
14233,5318101565,2014-07-03,1625000.0,4,3.25,2980,3600,2.0,0,0,...,830,1999,0,98112,47.6352,-122.284,2980,4800,7,1990
11843,2450500060,2014-08-26,1620000.0,4,3.25,3820,8114,2.0,0,0,...,0,2005,0,98004,47.5837,-122.194,2440,9195,8,2000
16268,3025300250,2015-05-13,1620000.0,4,2.25,2350,17709,2.0,0,0,...,0,1977,0,98039,47.6232,-122.236,3360,19855,5,1970