<h3>Importing thge neccessary libraries for completing the project<h3>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from scipy.stats import zscore

<h1>Data Loading and Cleaning<h1>

<h3>Data loading and displaying the first few rows. This will help to give an idea of the columns and values that are being dealt with.<h3>

In [2]:
df = pd.read_csv('/workspaces/Practise-Code/Kaggle Project/Data/kc_house_data.csv').sort_values('price', ascending=False)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7252,6762700020,20141013T000000,7700000.0,6,8.00,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
9254,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,0,4,...,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
4411,2470100110,20140804T000000,5570000.0,5,5.75,9200,35069,2.0,0,0,...,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345
1448,8907500070,20150413T000000,5350000.0,5,5.00,8000,23985,2.0,0,4,...,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750

<h3>Using '.info()' to give us an idea of missing values and the data types used.<h3>

In this instance, the data is not missing values and most columns are using numeric data types allowing for easier analysis (catagorical values such as 'view' or 'seafront' have been converted to numerical already). Date however could benefit from being converted to 'datetime' which will allow for more control when generating EDA (Exploritory Data Analysis).

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 7252 to 1149
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.6+ MB

<h3>Below demonstrates the conversion of the 'date' column to 'datetime' and how the type of data for 'date' changes when we call 'info()' again.<h3>

In [4]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21613 entries, 7252 to 1149
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  datetime64[ns]
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(15)
memory usage: 3.6 MB

In [17]:
numeric_cols = [
    'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
    'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement',
    'yr_built', 'yr_renovated', 'lat', 'long', 'sqft_living15', 'sqft_lot15'
]

df_zscores = df[numeric_cols].apply(zscore)

print(df_zscores.head())

          price  bedrooms  bathrooms  sqft_living  sqft_lot    floors  \
7252  19.502989  2.826929   7.641730    10.855713  0.301622  1.862472
3914  17.766493  1.751707   3.097133     8.667171  0.536414  0.936506
9254  17.282998  2.826929   7.317116     8.503847  0.392738  0.936506
4411  13.701050  1.751707   4.720203     7.752557  0.481947  0.936506
1448  13.101789  1.751707   3.746361     6.445964  0.214344  0.936506

      waterfront      view  condition     grade  sqft_above  sqft_basement  \
7252   -0.087173  3.609157   0.907554  4.545672    8.189639       7.204574
3914   11.471490  2.304185  -0.629187  2.844170    7.114853       4.673871
9254   -0.087173  4.914129  -0.629187  4.545672    8.539850       1.668662
4411   -0.087173 -0.305759  -0.629187  4.545672    5.327568       6.119987
1448   -0.087173  4.914129  -0.629187  3.694921    5.955533       2.233551

      yr_built  yr_renovated       lat      long  sqft_living15  sqft_lot15
7252 -2.076931      4.736719  0.503372 -0.774745       2.850186   -0.145346
3914 -1.055576      4.771574  0.649157 -0.000736       2.835595    0.464428
9254  1.021181     -0.210128  0.508424 -0.185362       3.725619    1.097350
4411  1.021181     -0.210128  0.496877 -0.135655       2.295745    0.423994
1448  1.293542     -0.210128  0.455739 -0.043342       3.813162    0.328952

In [15]:
# Threshold for identifying outliers
threshold = 3

# Identify outliers
outliers = (df_zscores > threshold) | (df_zscores < -threshold)

# Any row with any outlier
outliers_any = outliers.any(axis=1)

# Filter out outliers
df_no_outliers = df[~outliers_any]

# Display the cleaned DataFrame
print(df_no_outliers[numeric_cols].apply(zscore))

          price  bedrooms  bathrooms  sqft_living  sqft_lot    floors  \
15924  4.994518 -0.380928   0.671621     1.573209 -0.266820  0.959607
17324  4.964250  1.977269   0.671621     1.546106  0.596782  0.959607
14233  4.946955  0.798171   1.762365     1.397041 -0.545216  0.959607
11843  4.925335  0.798171   1.762365     2.535356 -0.148160  0.959607
16268  4.925335  0.798171   0.308039     0.543306  0.695826  0.959607
...         ...       ...        ...          ...       ...       ...
16714 -1.711906 -1.560027  -1.509868    -1.408090 -0.003992 -0.891413
3767  -1.716230 -1.560027  -1.509868    -1.692669  0.908780 -0.891413
18468 -1.720553 -1.560027  -1.509868    -1.421642 -0.107170 -0.891413
2141  -1.722715 -1.560027  -1.509868    -1.936593  1.102646 -0.891413
8274  -1.724877 -0.380928  -1.509868    -1.475847  0.055206 -0.891413

       waterfront      view  condition     grade  sqft_above  sqft_basement  \
15924         NaN  2.271483   0.891295  1.427846    1.209282       0.787439
17324         NaN -0.228151   0.891295  1.427846    1.972161      -0.658644
14233         NaN -0.228151  -0.652274  1.427846    0.644187       1.484658
11843         NaN -0.228151  -0.652274  2.403355    3.003460      -0.658644
16268         NaN -0.228151   0.891295  1.427846    0.926735      -0.658644
...           ...       ...        ...       ...         ...            ...
16714         NaN -0.228151  -0.652274 -2.474190   -1.107608      -0.658644
3767          NaN -0.228151  -0.652274 -1.498681   -1.404283      -0.658644
18468         NaN -0.228151  -0.652274 -2.474190   -1.121735      -0.658644
2141          NaN -0.228151  -2.195843 -2.474190   -1.658575      -0.658644
8274          NaN -0.228151  -0.652274 -1.498681   -1.178245      -0.658644

       yr_built  yr_renovated       lat      long  sqft_living15  sqft_lot15
15924 -0.891342           NaN  0.914088 -0.429697       1.202196   -0.159420
17324 -0.270018           NaN  0.608806  0.021269       3.056253    0.985794
14233  0.938111           NaN  0.533199 -0.491899       1.786809   -0.475874
11843  1.145219           NaN  0.165863  0.207875       0.884835    0.016276
16268  0.178716           NaN  0.447606 -0.118686       2.421531    1.209977
...         ...           ...       ...       ...            ...         ...
16714 -0.856824           NaN -1.217890 -0.118686      -1.253177   -0.184167
3767  -0.787788           NaN -0.608040 -0.390820      -0.701971    1.072802
18468 -1.857845           NaN -0.625872 -0.383045       0.250112   -0.281813
2141  -0.718752           NaN -0.574516 -0.585202      -0.565005    0.170248
8274  -0.615198           NaN -0.440421 -0.935089      -1.286584    0.246394

[18702 rows x 18 columns]

In [5]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [32]:
df.mode()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,795000620.0,20140623T000000,350000.0,3.0,2.5,1300.0,5000.0,1.0,0.0,0.0,...,7.0,1300.0,0.0,2014.0,0.0,98103.0,47.5322,-122.29,1540.0,5000.0
1,NaN,NaN,450000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,47.5491,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,47.6624,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,47.6846,NaN,NaN,NaN

In [34]:
df['bedrooms'].median()

3.0